table { width:100%; }
.name { text-align:left; }
.size, .mtime { text-align:right; }
.type { width:11em; }
.mtime { width:15em; }

/* Basic # {{{ */

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap;
  font-size: 145%;
  padding: 30px;
  background: #fff;
  color: #555;
}

a {
  color: #508AD7;
}

hr {
  display: none;
}

h1 {
  margin: 0 0 15px;
  font-size: 150%;
}

/* }}} */

/* Tables # {{{ */

table {
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background: #fafafa;
  border: 1px solid #ccc;
  font-family: monospace;
}

table tr:nth-child(2) {
  background: #fafafa !important;
}

table tr:nth-child(2) a {
  color: #999;
}

table td, table th {
  border-bottom: 1px solid #ccc;
  padding: 6px 8px;
  width: auto;
  font-weight: normal;
  text-align: left;
}

table th {
  background: #eee;
  color: #888;
}

table tr:hover {
  background: rgba(255,255,0,0.1);
}

table td.name {
}

/* }}} */

/* Footer # {{{ */

footer {
  padding: 16px 2px 6px;
  text-align: right;
  font-size: 90%;
  color: #999;
}

footer a {
  color: #aaa;
}

/* }}} */
